body{
    background-color: rgb(35, 35, 35);
    margin: 0px;
    padding: 0px;
    /*tamanho da resolucao*/
    width: 100%; 
    overflow-x: hidden;
}
header {
    background-color: rgb(13, 13, 13);
    width: 100%; 
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; /*empurra os itens para as pontas */
    padding: 0 40px; /* Da um espaço nas laterais para não encostar na borda da tela */
    box-sizing: border-box;
}
.ButtonHeader{
            height:50px ;
            width: 120px;
            background-color: rgb(13, 13, 13);              
            color: aliceblue;
            border: 0px;
            border-radius: 10px;
            font-size: 15px;
            cursor: pointer;
        }
        .ButtonHeader:hover{
            background-color: #333;
            transition: background-color 0.5s ease;
        }
.control{
            height: 70px;
            width: 70px;
            margin-top: 10px;
            margin-right: 70px;
            margin-left: 40px;}

#title{
    color: #fff;
    margin-left: 5.5%;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

#SecIcon{
    background-color: #333;
    margin-left: 50px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
   
}
.SearchWrapper{
     position:relative;
     display:flex;
     align-items: center;
     margin-left: 50px;
}

.SearchIcon{
     position: absolute;
    left: 12px;
    width: 16px;
    height: 16px;
    z-index: 1;
}
#search{
    padding-left: 35px;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #333;
    color: white;
    outline: none;
}

