body{
    background-color: rgb(59, 59, 59);
    margin: 0px;
    padding: 0px;
    /*tamanho da resolucao*/
    width: 100%; 
    overflow-x: hidden;
}
header{
    background-color: rgb(13, 13, 13);
     width: 100%; 
     height: 70px;
     /* alinha os botoes */
     display: flex;
     align-items: center;
     justify-content: 10px;

}
.ButtonHeader{
            height:50px ;
            width: 120px;
            background-color: rgb(13, 13, 13);              
            color: aliceblue;
            border: 0px;
            border-radius: 10px;
            font-size: 15px;
            cursor: pointer;
        }
        .ButtonHeader:hover{
            background-color: #333;
            transition: background-color 0.5s ease;
        }
.control{
            height: 70px;
            width: 70px;
            margin-right: 70px;
            margin-left: 40px;}
#search{
    margin-left: 550px; 
    margin-right: 22px;
    width: 230px; 
    height: 30px;
    border-radius: 20px;
    border: #fff;
    background-color: #333;
    color: #ffffff;
}

#title{
    color: #fff;
    margin-left: 4.5%;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

#SecIcon{
    background-color: #333;
    margin-left: 50px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
   
}
#ImageSecs{
    width: 400px;
    height: 200px;
    border-radius: 10px;
}
#Notice{
    background-color: chocolate;
    
}

